<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:imeOptions="flagNoExtractUi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/winner_sup"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".WinWindowActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SetUpActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FilloutActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
    </application>

</manifest>
